.App {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.card-container {
  max-width: 34rem;
  height: 44rem;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.251);
  border: 1rem;
  padding: 3rem;
}
.profile-img-card{
  width: 12rem;
  height:auto;
  border-radius: 50%;
  display: block;
}
.form-group
{
  text-align: left;
  padding: 1rem;
}
.main-screen {
  max-width: 84rem;
  text-align: center;
  display: block;
}
img {
  vertical-align: middle;
}
label {
  font-size: 1rem;
  font-weight: 400;
}
.form-control {
  width: 100%;
  text-align: center;
}
.sign-button {
  width: 100%;
}
.link {
  text-align: center;
  margin: 1rem;
}
.nav {
  float: right;
}
.header {
  position: relative;
  top: 0rem;
  height: 10hv;
  text-align: left;
  background-color: #f6f6f6;
}
.search-wrapper{
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.main-screen{
  height: 80vh;
}
.footer{
  width:100%;
  padding: 1rem;
  background-color: #f6f6f6;
  height: 10vh;
}
.card-img-top{
  width:15rem;
  height:22rem;
  object-fit:contain;
}
.pet-logo{
  position: absolute;
  right: 5rem;
  bottom: 1rem;
}
.contact{
  display: block;
  width: 30rem;
  color:blueviolet;
}
.wiki{
  color:#4B0082;
}
