.App {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.card-container {
  max-width: 34rem;
  height: 44rem;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.251);
  border: 1rem;
  padding: 3rem;
}
.profile-img-card{
  width: 12rem;
  height:auto;
  border-radius: 50%;
  display: block;
}
.form-group
{
  text-align: left;
  padding: 1rem;
}
.main-screen {
  max-width: 95rem;
  min-width: 18rem;
  text-align: center;
  display: block;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
img {
  vertical-align: middle;
}
label {
  font-size: 1rem;
  font-weight: 400;
}
.form-control {
  width: 100%;
  text-align: center;
}
.sign-button {
  width: 100%;
}
.link {
  text-align: center;
  margin: 1rem;
}
.nav {
  float: right;
  width: 45%;
}
.header {
  width: 100%;
  position: relative;
  top: 0rem;
  height: 20hv;
  text-align: left;
  background-color: #f6f6f6;
}
.search-wrapper{
  display:flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}
@media only screen and (min-width: 768px) {
  .search-wrapper{
    width: 40%;
    padding-left:10%;
  }
  .pet-logo {
    position: absolute;
    right: 5rem;
    bottom: 1rem;
  }
}
.main-screen{
  height: 80vh;
}
.footer{
  width:100%;
  padding: 1rem;
  background-color: #f6f6f6;
  height: 20vh;
}
.footer-links{
  float:right;
}
.card-img-top{
  width:15rem;
  height:22rem;
  object-fit:contain;
}
.contact{
  text-align: center;
  display: block;
  width: 80%;
  color:blueviolet;
  margin-left: auto;
  margin-right: auto;
}
.wiki{
  color:#4B0082;
}
